@use "../var";
header {
	@include row(flex-start, center, nowrap);
	width: 100%;
	color: var.$text;
	padding: 0.5rem 1rem;
	.logo {
		img {
			height: 2rem;
		}
		@include row(flex-start, baseline, nowrap);
		margin-right: auto;
	}
	.connect {
		@include row(flex-end, center, nowrap);
		a {
			margin: 0.5rem;
		}
	}
}
