$bg: #fcfcfc;
$fg: #e9e9e9;
$text: #021929;
$text-secondary: #192934;
$primary: #3da9fc;
$primary-dark: #094067;
$primary-light: #83ccf4;
$accent: #ef4565;
$danger: #f66363;
$success: #29ab45;
$link: #0645ad;
$border: #333333;
$font-title: "Open Sans", sans-serif;
$font-body: "Helvetica", sans-serif;

$XXL: 2.5rem;
$XL: 2rem;
$L: 1.5rem;
$M: 1.25rem;
$button: 1.15rem;
$default: 1rem;
$S: 0.75rem;
$XS: 0.5rem;
